div.col-md-10.noMarginL(ng-controller='songsListCtrl')
  div.gray.heightSM.margin-1.vertAlign
    h2.col-sm-2.subTitle.margin0 SONGS
    div.FloatR
      a(class='btn btn-default editBtn darkGrayBG' , href='/AddSong', ng-show='identity.currentUser.isAdmin()') Add Song
      div.inline.subTitle TOTAL
      h2.inline.square.darkGrayBG.thinText {{songs.length}}
  div.marginR.height100
    table.table.table-striped.table-bordered.table-hover
      thead
        tr.darkBlue
          th.text-center DATE
          th.text-center SONG TITLE
          th.text-center WATCH VIDEO
          th(class='text-center' ng-show='identity.currentUser.isAdmin()') EDIT
      tbody.text-center.darkGrayFont
        tr(ng-repeat='song in songs | orderBy: "-date"')
          td(style='text-align:left;padding-left:2em;') 
             {{song.date |  date:'MM-dd-yyyy'  }}
          td 
             {{song.title || 'empty'}}
          td
             span(ng-show='identity.currentUser.isAdmin()'){{song.vPath}}
             a.fancybox-media(href='{{song.vPath}}' ng-hide='identity.currentUser.isAdmin()')
              span.glyphicon.glyphicon-play-circle
          td(ng-show='identity.currentUser.isAdmin()')
            div( ng-show="!rowform.$visible")
              a(class='btn btn-default editBtn darkGrayBG' , href='/songs/updateSong/{{song._id}}') Edit
              a(class='btn btn-default editBtn darkGrayBG' , href='', ng-click='deleteSong($index, song._id)' ) Delete


     pagination(total-Items='bigTotalItems', items-per-page='itemsPerPage', num-pages='numPages', direction-links='true', max-size='maxSize', page='currentPage', boundary-links='true', ng-model='currentPage')

