div.col-md-10.noMarginL( ng-app='appt' ng-controller='testCtrl')
	div.marginR.height100
		table.table.table-bordered.table-hover
			thead
				tr.darkBlue
					th.text-center DATE
					th.text-center SONG TITLE
					th.text-center WATCH VIDEO
					th(class='text-center' ng-show='identity.currentUser.isAdmin()') EDIT
			tbody.text-center.darkGrayFont
				tr(ng-repeat='song in songs')
					td
						span(style='text-align:left;padding-left:4em;', editable-text='song.date', e-name='date', e-form='rowform' ) 
							{{song.date | date:'MM-dd-yyyy' }} + {{song._id}}
					td
						span(editable-text='song.title', e-name='title', e-form='rowform' )
							{{song.title || 'empty'}}
					td
						span(editable-text='song.vPath' e-name='vPath' e-form='rowform' ng-show='identity.currentUser.isAdmin()')
							{{song.vPath}}
						a.fancybox-media(href='{{song.vPath}}' ng-hide='identity.currentUser.isAdmin()')
							span.glyphicon.glyphicon-play-circle
					td(ng-show='identity.currentUser.isAdmin()', style='white-space:nowrap')
						form(editable-form e-name='rowform' ng-show='rowform.$visible' class='form-buttons form-inline' shown="inserted == song" onbeforesave="updateSong($data, song.id)")
							button(type='submit', ng-disabled='rowform.$waiting' , class='btn btn-primary') Save
							button(ng-click='rowform.$cancel()', ng-disabled='rowform.$waiting' , class='btn btn-dnager') Cancel
						div(ng-show='!rowform.$visible')
							button(class='btn btn-default editBtn darkGrayBG' , ng-click='rowform.$show()' ) Edit
							button(class='btn btn-default editBtn darkGrayBG' , ng-click='deleteSong()' ) Delete
			tbody.text-center.darkGrayFont
				tr(ng-repeat='student in students')
					td
						span( editable-text='student.name', e-name='name', e-form='rowform' ) 
							{{student.name || 'empty'}} 

					td(ng-show='identity.currentUser.isAdmin()', style='white-space:nowrap')
						form(editable-form e-name='rowform' ng-show='rowform.$visible' class='form-buttons form-inline' shown="inserted == student" onbeforesave="saveStudent($data, student.id)")
							button(type='submit', ng-disabled='rowform.$waiting' , class='btn btn-primary') Save
							button(ng-click='rowform.$cancel()', ng-disabled='rowform.$waiting' , class='btn btn-dnager') Cancel
						div(ng-show='!rowform.$visible')
							button(class='btn btn-default editBtn darkGrayBG' , ng-click='rowform.$show()' ) Edit
							button(class='btn btn-default editBtn darkGrayBG' , ng-click='deleteStudent()' ) Delete