.col-lg-10.col-md-10.col-sm-12.heightMax.padding-0.noMarginL(ng-controller='uploadPhotoCtrl')
	.gray.heightSM.margin-1.vertAlign
		h2.col-md-4.subTitle.margin0 UPLOAD PHOTO
	
	form.form-horizontal.col-md-12.darkGrayFont(role="form", method='POST', action='/upload', enctype='multipart/form-data')
		fieldset
			legend Upload new photo
			.form-group
					label.col-md-2.control-label(for="upload") CHOOSE AN IMAGE
					.col-md-4
						input#upload.form-control.input-sm(type="file",  name='image', ng-model='file', ng-change='fileChange()')
					button(type='submit') submit
			
