extends ../includes/layout

block main-content
	header.darkGrayBg
		.container.headerContainer
			.row(ng-controller='LogCtrl')
				
				button.navbar-toggle.col-xs-2.pull-left.topMargin(type='button', data-toggle='collapse', data-target='#loginForm' ng-hide='identity.isAuthenticated()') LOG
					
				h2.col-lg-6.col-sm-6.col-xs-8.MainTitle
					|	AGAPE CHOIR
					small Choir for Open Service
					
				button.navbar-toggle(data-toggle="collapse" data-target=".sidebar-navbar-collapse" type="button")
							span.sr-only
								|Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
				.col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right.padding-0(ng-include="'/partials/account/navbar-login'")
	.row.fullHeight
		.col-sm-12.col-md-2.heightMax.darkGrayBG 
			.sidebar-nav
				.nav.navbar.darkGrayBG.text-center.vertAlign(role='navigation')
					.navbar-header
						
						
					div#mainMenu.navbar-collapse.collapse.sidebar-navbar-collapse.overflowHidden(ng-controller='navigationCtrl')
						ul.nav.nav-pills.nav-stacked
							li
								a(href='/' ng-class="{active:isCurrentPath('/')}")
									span.glyphicon.glyphicon-home.widthFull
									|	HOME
							li
								a(href='/members' ng-class="{active:isCurrentPath('/members')}")
									span.glyphicon.glyphicon-user.widthFull
									|	MEMBERS
							li
								a(href='/songs' ng-class="{active:isCurrentPath('/songs')}")
									span.glyphicon.glyphicon-music.widthFull
									|	SONGS
							li
								a(href='/news' ng-class="{active:isCurrentPath('/news')}")
									span.glyphicon.glyphicon-bullhorn.widthFull
									|	NEWS
							li
								a(href='/photos' ng-class="{active:isCurrentPath('/photos')}")
									span.glyphicon.glyphicon-camera.widthFull
									|	PHOTOS
							li
								a(href='/stats' ng-class="{active:isCurrentPath('/stats')}")
									span.glyphicon.glyphicon-signal.widthFull
									|	STATS
		div(ng-view)
	
