.col-lg-10.col-md-10.col-sm-12.heightMax.padding-0.noMarginL(ng-controller='memberDetailCtrl')
  .heightSM.margin-1.vertAlign.memberBG
    h2.marginR.subTitle.inline.FloatL {{member.name | uppercase}} 
    h3.FloatL.inline.part {{member.part | limitTo:1 | uppercase}}
    a(class='btn btn-default editBtn darkGrayBG pull-right' , href='/members/updateMember/{{member._id}}', ng-show='identity.currentUser.isAdmin()', ng-click='editPage()') EDIT
    a(class='btn btn-default editBtn darkGrayBG pull-right' , href='', ng-show='identity.currentUser.isAdmin()', ng-click='deleteMember()') DEL
  .media
    .pull-left.marginL-1
      img.media-object(ng-src="/images/memberPhoto/{{member.image}} ", alt="...")
    .margin-1.overflowAuto.marginTop
      .FloatL.memberDetail
        h3.inline.marginR-2.Ralewayh3 ADDRESS
        h4.inline.lineheightHalf.Ralewayh4.text-right {{member.address}}
      .FloatL.memberDetail
        h3.inline.marginR-2.Ralewayh3 BIRTHDAY
        h4.inline.lineheightHalf.Ralewayh4 {{member.dob | date:'MM-dd'}}
      .FloatL.memberDetail
        h3.inline.marginR-2.Ralewayh3 JOIN DATE
        h4.inline.lineheightHalf.Ralewayh4 {{member.doa | date:'MM-dd-yyyy'}}
      .FloatL.memberDetail
        h3.inline.marginR-2.Ralewayh3 EMAIL
        h4.inline.lineheightHalf.Ralewayh4 {{member.email}}
      .FloatL.memberDetail
        h3.inline.marginR-2.Ralewayh3 TEL
        h4.inline.lineheightHalf.Ralewayh4 {{member.tel}}
    .well.comment.text-center.marginAuto
      p.commentText
        q {{member.comment}}