Doctype 
html
	head
		meta(charset='UTH-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dashboard - Pilgrim Agape Choir
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/responsive.css')
		link(rel='stylesheet', href='/vendor/toastr/toastr.css')
		link(rel='stylesheet', href='/css/jquery.fancybox.css?v=2.1.5')
		link(rel='stylesheet', href='/css/ng-animation.css')
		
		link(href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,300', rel='stylesheet', type='text/css')
	body(ng-app='app')
		div#preloader
		include currentUser
		block main-content
		include scripts